<?xml version="1.0" encoding="UTF-8" ?>
<!--mapper 映射文件，写sql-->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--mapper定义-->
<mapper namespace="test">
    <!--插入一个学生-->
    <insert id="insertStudent" parameterType="po.Student">
      INSERT INTO t_student (stu_id, stu_name, gender, birthday, class_id) VALUES (#{studentId},
        #{studentName}, #{gender}, #{birthday}, #{classId})
    </insert>
    <!--定义一个映射map-->
    <resultMap id="data2Student" type="po.Student" autoMapping="true">
        <id property="studentId" column="stu_id"/>
        <result property="studentName" column="stu_name"/>
        <result property="classId" column="class_id"/>
    </resultMap>
    <!--查询一个学生-->
    <select id="selectStudent" parameterType="int" resultMap="data2Student">
        SELECT * FROM t_student where stu_id=#{value}
    </select>
</mapper>